# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/
vendor/

# Build
dist/
build/

# Temp
*.tmp
*.temp
*.swp
*.swo

# Archives
*.zip
*.tar.gz
